.datagrid__controls
  display: flex
  align-items: center
  margin: 16px 0

.datagrid__button
  background-color: #fff
  color: #000
  font-weight: 600
  margin-right: 32px
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease 0s

  &:hover
    color: #000
    background-color: #fff
    transform: translateY(-2px)
    box-shadow: 0 10px 16px rgba(61, 69, 65, 0.4)


.datagrid__input
  height: 20px

  &--filter
    height: 35px
    margin: 0 8px
    width: 160px
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    background-color: lighten(#000,40%)
    outline: none
    border: 0
    border-radius: 3px
    padding: 0 3px
    color: #fff

.datagrid__label--filter
  padding: 0 4px
  display: flex
  align-items: center
  height: 40px
  margin-right: 8px
  border-radius: 4px
