.datagrid__controls
  display: flex
  align-items: center
  margin: 16px 0

.datagrid__button
  background-color: $background--base
  color: $button__label--dashboard
  font-weight: 600
  margin-right: 32px
  box-shadow: $button__box-shadow--dashboard
  transition: all 0.3s ease 0s

  &:hover
    color: $button__label--dashboard
    background-color: $background--base
    transform: translateY(-2px)
    box-shadow: $button__box-shadow--dashboard-hover


.datagrid__input
  height: 20px

  &--filter
    height: 35px
    margin: 0 8px
    width: 200px
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    background-color: lighten($button__label--dashboard,40%)
    outline: none
    border: 0
    border-radius: 3px
    padding: 0 3px
    color: $white

.datagrid__label--filter
  padding: 0 4px
  display: flex
  align-items: center
  height: 40px
  margin-right: 8px
  border-radius: 4px
